a {
  color: inherit;
  text-decoration: none;
  @include c-pointer;
  position: relative;

  &::before {
    content: '';
    border-bottom: solid 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s;
  }

  &:hover::before {
    width: 100%;
  }
}

.container {
  max-width: 60%;
  margin: auto;
  padding: 1.2rem;
  transition: 0.3s;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 98%;
  }
}

.page-title {
  font-size: 2rem;

  &::before {
    content: '# ';
    opacity: 0.5;
  }
}
